#articleDetail {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100vw;

  .left {
    width: 253px;
    //width: 16rem;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(243, 246, 247, 1);
    display: flex;
    flex-direction: column;
    align-items: center;


    .box_278X1 {
      width: 225px;
      height: 340px;
      margin-top: 15px;
      color: rgba(80, 80, 80, 1);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 6px;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .photo {
        width: 80px;
        height: 80px;
        background-color: #282c34;
        margin-top: 46px;
      }

      p {
        width: 192px;
        height: 105px;
        left: 29px;
        top: 220px;
        color: rgba(72, 80, 91, 0.68);
        font-size: 14px;
        line-height: 150%;
        text-align: center;
      }

      h4 {
        width: 90px;
        height: 30px;
        left: 81px;
        top: 170px;
        color: rgba(72, 81, 91, 1);
        font-size: 20px;
        line-height: 150%;
        text-align: left;
        margin-top: 27px;
      }
    }

    .box_275X1 {
      width: 225px;
      height: 66px;
      left: 12px;
      top: 362px;
      color: rgba(80, 80, 80, 1);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 6px;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      margin-top: 7px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .wrapper_118X1 {
        height: 50px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text_269X1 {
          color: rgba(71, 80, 91, 0.7);
          font-size: 13px;
          line-height: 150%;
          text-align: center;
          font-weight: bold;
        }

        .text_268X1 {
          color: rgba(80, 80, 80, 1);
          font-size: 18px;
          line-height: 150%;
          text-align: center;
        }
      }

    }

  }

  .box_286X1 {
    width: 0.5px;
    height: 100%;
    color: rgba(80, 80, 80, 1);
    background-color: rgba(243, 246, 247, 1);
    font-size: 14px;
    line-height: 150%;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    text-align: center;
  }

  .right {
    flex: 1;
    height: 100%;
    background-color: rgba(243, 246, 247, 1);
    display: flex;
    flex-direction: row;


    .box_387X1 {
      flex: 1;
      height: calc(100% - 32px);
      margin: 16px 0px 16px 31px;
      left: 281px;
      top: 16px;
      color: rgba(80, 80, 80, 1);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 3px;
      font-size: 14px;
      line-height: 150%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;

      .text_388X1 {
        width: 168px;
        height: 42px;
        margin-top: 29px;
        color: rgba(80, 80, 80, 1);
        font-size: 28px;
        line-height: 150%;
        text-align: left;
      }

      // 文章标签
      .box_200 {
        display: flex;
        flex-direction: row;
        margin-top: 23px;

        .text_420X1 {
          width: 66px;
          height: 21px;
          color: rgba(67, 207, 124, 1);
          font-size: 14px;
          line-height: 150%;
          margin-left: 20px;
        }
      }

    }

    //文章标题
    .text_388X1 {
      width: 168px;
      height: 42px;
      color: rgba(80, 80, 80, 1);
      font-size: 28px;
      line-height: 150%;
      text-align: left;
    }

    //文章内容
    .text_393X1 {
      width: calc(100% - 40px);
      margin-top: 33px;
      color: rgba(80, 80, 80, 1);
      font-size: 14px;
      line-height: 150%;
      text-align: left;
      flex: 1;
    }

    .box_201 {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 20px;
      justify-content: space-between;
      padding-right: 31px;

      .box_202{
        display: flex;
        flex-direction: row;

        .icon_7X1 {
          width: 21px;
          height: 21px;
          font-size: 21px;
          color: rgba(153, 153, 153, 1);
          background-color: #282c34;
          margin-left: 20px;
        }

        .text_436X1{
          width: 98px;
          height: 21px;
          left: 338px;
          top: 619px;
          color: rgba(80, 80, 80, 1);
          font-size: 14px;
          line-height: 150%;
          text-align: left;
        }
      }

    }


  }


}

