.plr20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mr20{
  margin-right: 20px;
}

.demo {
  height: 100vh;
  overflow-y: auto;
}

.top {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.markdownContent{
  display: flex;
  height: calc(100% - 100px);
}


.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input{
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  outline: none;
}

.right {
  flex: 1;
}

textarea {
  width: 100%;
  height: 100%;
  outline: none;
}

.result{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.uf1{
  flex: 1;
}
