@import "../../styles/common";

.suspendBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: cornsilk;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: flex;
  .text{
    padding: 0;
    margin: 0;
  }
}

.btnTitle{
  color: antiquewhite;
  font-family: $fontFamily;
  font-size: $fontMax;

}


